<html>
<body style="background-color:powderblue;"></body>
<h1>Admin Dashboard</h1>
<h3>Product List</h3>
<div class="btn-group" style="width:25%">
<a class="btn btn-primary" [routerLink]="['/addproduct']">Add Product</a>
<a class="btn btn-outline-secondary" [routerLink]="['/changepwd']">Change Password</a>
</div>
<table class="table">
    <thead>
        <table style="background-color:#33475b"></table>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action1</th>
        </tr>
    </thead>
     <tbody>
         <tr *ngFor="let item of productData">
             <th scope="row">{{item.id}}</th>
             <td scope="row">{{item.name}}</td>
             <td scope="row">{{item.price}}</td>
             <td><span (click)= "deleteProduct(item.id)">Delete</span></td>

         </tr>
     </tbody>
</table>
</html>